    * {
    box-sizing: border-box;
    }
    body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	background-color: #E8E8E8;
	}
    #main {
    display: flex;
    min-height: calc(100vh - 40vh);
    }
    #main > article {
    flex: 1;
    }

    #main > nav,
    #main > aside {
    flex: 0 0 15vw;
    background: white;
    }


    #main > nav {
    order: -1;
    }

    header, footer, article, nav, aside {
    padding: 1em;
    }
    header {
    background: #E8E8E8; 
    height: 20vh;
    color: navy;
    clear: left;
    text-align: center;
    }
    article {
	background: #F8F8F8;
	overflow: scroll;
    }
    footer {
	position: relative; 
	left: 0 ; right: 0; bottom: 0; 
	background: #E8E8E8;
	height: 5vh;
    }

    #header > headertext {
	text-align: center; 
	margin: 0em; 
	font-size: 1vh;
    }

    toph1 {
	font-size: 3em;
	font-weight: 600;
	line-height: 100%;
    }
    bottomh1 {
	font-size: 1em;
	font-weight: normal;
	line-height: 300%;
    }