.inptcrtable-outter {
    border:1px solid #dddddd;
    overflow-x: scroll;
}
.inptcrtable {
    table-layout: fixed;
    margin:0px auto 0px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-collapse: collapse;
}
.inptcrtable th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.inptcrtable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tcrcolor {
    color: black;
    font-weight: bold;
}
.tmpltcolor {
    color: cornflowerblue;
}
.inptcr {
    font-family: monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 20px;
}
.inptcruc {
    font-family: monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}
.inptcrachain {
    color: red;
}
.inptcrbchain {
    color: blue;
}
.firstcol{
width: 80px;
}
.alitable-outter {
    border:1px solid #dddddd;
    overflow-x: scroll;
}
.alitable {
    width: 100%;
    border:1px solid #dddddd;
    table-layout: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-collapse: collapse;
}
.alitable tr:nth-child(even) {
    background-color: #dddddd;
}
.alitable td {
    border: 1px solid #dddddd;
    padding: 1px;
}
td.noborder {
    border: none;
}
.alitable th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.alitable tr:nth-child(even) {
    background-color: #dddddd;
}
.ast {
    vertical-align: middle;
    line-height: 20px;
    height: 15px;
}
.tcrcontainer {
    width: auto;
    overflow-wrap: break-word;
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext1 {
    font-size: 15px;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    visibility: hidden;
    width: 200px;
    background-color: #E8E8E8;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -100px;
}
.tooltip .tooltiptext1::after {
    content: "";
    position: absolute;
    bottom: 100%;/* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip .tooltiptext2 {
    font-size: 15px;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    visibility: hidden;
    width: 200px;
    background-color: #E8E8E8;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
}
.tooltip .tooltiptext2::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext1, .tooltip:hover .tooltiptext2 {
    visibility: visible;
}