{% extends "test_layout.html" %}
{% block head %}
{{ super() }}
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
{% endblock %}
{% block article %}
<div class="p-3 m-3">
<div class="text-left">
  <h4>Job status : Failed</h4>
  {% if jobid %}
  <h5>Job ID : <a href="{{ url_for('res_tcrpmhc', jobid=jobid) }}">{{ jobid }}</a></h5>
  {% endif %}
  <BR>
    <span class="fs-5">ERROR:</span>
    <span class="fs-6">{{ errormsg }}<span>
  <BR><BR>
  <p class="text-muted">
    Questions regarding the server? 
  <ul class="text-muted">
    <li>
      Checkout the <a href="{{ url_for('help') }}">Help</a> page.
    </li>
    <li>
      Contact Brian Pierce at pierce@umd.edu	
    </li>
  </ul>
  </p>
  <BR>
  <a href="#" onclick="history.back()"> < Back </a>
</div>
</div>
{% endblock  %}



