{% extends "layout.html" %}
{% block head %}
{{ super() }}

{% endblock %}
{% block title %}: Links{% endblock %}
{% block article %}

<h2>Links</h2>
	<a href="https://piercelab.ibbr.umd.edu/tcrdb/">TCR Structure Database</a>: a database of all TCR structures, containing CDR classification, epitope targeting, and other information.<br><br>
        <a href="https://zlab.umassmed.edu/atlas/web/">ATLAS</a>: a database of T cell receptor mutant affinities and structures.<br><br>
	<a href="http://www.imgt.org/">IMGT</a>: the immunogenetics database, containing germline gene information, nomenclature, and numbering for T cell receptors and antibodies, as well as other useful information.<br><br>
	<a href="https://vdjdb.cdr3.net/">VDJdb</a>: a T cell receptor sequence database.<br><br>
	<a href="http://friedmanlab.weizmann.ac.il/McPAS-TCR/">McPAS-TCR</a>: a database of pathology associated T cell receptor sequences.<br><br>
{% endblock %}

