{% extends "layout.html" %}
{% block title %}TCR Model{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/small_viewer.css') }}">
{% endblock %}
{% block article %}
<div id=outer-wrap>
  <div id=viewer-wrap>
    <div id=sele-panel>
      <h3>View</h3>
      <ul>
	<li id=cartoon>Cartoon</li>                 
	<li id=lines>Sticks</li>
	<li id=cdr3lines>CDR3 Sticks</li>
      </ul>
    </div> 
    <div id=vwr></div>
  </div>
  <div id=spacing-wrap></div>
  <div id=download-wrap>
    <h4>Status : Modeling completed</h4>
    <h4>Job ID : <a href="{{ url_for('rtcrex', jobid=rtcrjobid) }}">{{ rtcrjobid }}</a></h4>
    <a href="{{ url_for('viewmodel', jobid=rtcrjobid) }}"><h4>Full model viewer</h4></a>
    <h4><a href={{ modelfname }} download>Download PDB file</a></h4>
  </div>
  <div id="clear"></div>
</div>
<br>
<h3>Sequences</h3>
<div class="inptcrtable-outter">
  <table class="inptcrtable">
    <tr>
      <td class="firstcol"><strong>TCR &alpha; chain</strong></td>
    </tr>
    <tr>
      <td><span class="inptcr inptcrachain">
	  {{ tj.a_fw1 }}<span class="tooltip" id="acdr1">{{ tj.aseq_cdr1 }}<span class="tooltiptext1">CDR1&alpha; sequence</span></span>{{ tj.a_fw2 }}<span class="tooltip" id="acdr2hv4">{{ tj.aseq_cdr2hv4 }}<span class="tooltiptext1">CDR2HV4&alpha; sequence</span></span>{{ tj.a_fw3 }}<span class="tooltip" id="acdr3">{{ tj.aseq_cdr3 }}<span class="tooltiptext1">CDR3&alpha; sequence</span></span>{{ tj.a_fw4 }}
      </span></td>
    </tr>
    <tr>
      <td class="firstcol"><strong>TCR &beta; chain</strong></td>
    </tr>
    <tr>
      <td><span class="inptcr inptcrbchain">
	  {{ tj.b_fw1 }}<span class="tooltip" id="bcdr1">{{ tj.bseq_cdr1 }}<span class="tooltiptext2">CDR1&beta; sequence</span></span>{{ tj.b_fw2 }}<span class="tooltip" id="bcdr2hv4">{{ tj.bseq_cdr2hv4 }}<span class="tooltiptext2">CDR2HV4&beta; sequence</span></span>{{ tj.b_fw3 }}<span class="tooltip" id="bcdr3">{{ tj.bseq_cdr3 }}<span class="tooltiptext2">CDR3&beta; sequence</span></span>{{ tj.b_fw4 }}
      </span></td>
    </tr>
  </table>
</div>
<h4>Mouse over sequences above to highlight CDRs in viewer.</h4>

<br><br>

<h3>Templates</h3>

  <table class="alitable">
    <tr>
      <th>TCR segment</th>
      <th colspan="2">Template Alignment</th>
    </tr>
    
    <tr>
      <td style="text-align:center"><span class="tcrcolor">CDR1&alpha;</span></td>
      <td nowrap class="inptcr noborder" style="text-align:right">
	<span>Input :</span>
	<br>
	<span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.acdr1_tmplt_pdbid }}">{{ tj.acdr1_tmplt_pdb }}</a> :</span>
	<br>
	<br>
      </td>
      <td class="noborder" style="text-align:left">
	<p class="ali inptcr">
	  <span class="t1ali aaseqali">{{ tj.aseq_cdr1 }}</span>
          <br>
	  <span class="t2ali aaseqali">{{ tj.acdr1_tmplt_seq }}</span>
          <br>
	  <span class="ast"></span>
	</p>
    </td>
    </tr>
    
    
    <tr>
      <td style="text-align:center" border="1"><span class="tcrcolor">CDR2&alpha;</span></td>
      <td nowrap class="inptcr noborder" style="text-align:right" border="none!important">
	<span>Input :</span>
	<br>
      <span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.acdr2hv4_tmplt_pdbid }}">{{ tj.acdr2hv4_tmplt_pdb }}</a> :</span>
      <br>
      <br>
      </td>
      <td class="noborder" style="text-align:left">
	<p class="ali inptcr">
	  <span class="t1ali aaseqali">{{ tj.aseq_cdr2hv4 }}</span>
        <br>
	<span class="t2ali aaseqali">{{ tj.acdr2hv4_tmplt_seq }}</span>
        <br>
	<span class="ast"></span>
	</p>
      </td>
    </tr>
    
    <tr>
      <td style="text-align:center" border="1"><span class="tcrcolor">CDR3&alpha;</span></td>
      <td nowrap class="inptcr noborder" style="text-align:right" border="none!important">
	<span>Input :</span>
	<br>
	<span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.acdr3_tmplt_pdbid }}">{{ tj.acdr3_tmplt_pdb }}</a> :</span>
	<br>
      <br>
      </td>
      <td class="noborder" style="text-align:left">
	<p class="ali inptcr">
	  <span class="t1ali aaseqali">{{ tj.aseq_cdr3_extnd }}</span>
	  <br>
	  <span class="t2ali aaseqali">{{ tj.acdr3_tmplt_seq }}</span>
	  <br>
	  <span class="ast"></span>
	</p>
      </td>
    </tr>
    <tr>
      <td style="text-align:center"><span class="tcrcolor">CDR1&beta;</span></td>
      <td nowrap class="inptcr noborder" style="text-align:right">
	<span>Input :</span>
	<br>
	<span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.bcdr1_tmplt_pdbid }}">{{ tj.bcdr1_tmplt_pdb }}</a> :</span>
	<br>
	<br>
      </td>
      <td class="noborder" style="text-align:left">
	<p class="ali inptcr">
	  <span class="t1ali aaseqali">{{ tj.bseq_cdr1 }}</span>
          <br>
	  <span class="t2ali aaseqali">{{ tj.bcdr1_tmplt_seq }}</span>
          <br>
	  <span class="ast"></span>
	</p>
      </td>
    </tr>
    
    
    <tr>
      <td style="text-align:center"><span class="tcrcolor">CDR2&beta;</span></td>
      <td nowrap class="inptcr noborder" style="text-align:right">
	<span>Input :</span>
	<br>
	<span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.bcdr2hv4_tmplt_pdbid }}">{{ tj.bcdr2hv4_tmplt_pdb }}</a> :</span>
      <br>
      <br>
      </td>
      <td class="noborder" style="text-align:left">
	<p class="ali inptcr">
	  <span class="t1ali aaseqali">{{ tj.bseq_cdr2hv4 }}</span>
          <br>
	  <span class="t2ali aaseqali">{{ tj.bcdr2hv4_tmplt_seq }}</span>
          <br>
	<span class="ast"></span>
	</p>
      </td>
    </tr>
    
    <tr>
      <td style="text-align:center"><span class="tcrcolor">CDR3&beta;</span></td>
      <td nowrap class="inptcr noborder" style="text-align:right">
	<span>Input :</span>
	<br>
	<span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.bcdr3_tmplt_pdbid }}">{{ tj.bcdr3_tmplt_pdb }}</a> :</span>
	<br>
	<br>
      </td>
      <td class="noborder" style="text-align:left">
	<p class="ali inptcr">
	  <span class="t1ali aaseqali">{{ tj.bseq_cdr3_extnd }}</span>
	  <br>
	  <span class="t2ali aaseqali">{{ tj.bcdr3_tmplt_seq }}</span>
	<br>
	<span class="ast"></span>
	</p>
      </td>
    </tr>
    
    <tr>
      <td style="text-align:center"><span class="tcrcolor">Orientation</span></td>
      <td style="text-align:center">
      <p class="inptcruc">
	<span><a target="_blank" href="https://www.rcsb.org/structure/{{ tj.ori_tmplt }}">{{ tj.ori_tmplt }}</a></span>
      </p>
      </td>
    </tr>
  </table>

<br>
<br>
<div class="tcrcontainer">
  <h3>TCR segments</h3>
  <span class="inptcr">
    Input TCR &alpha; chain sequence : {{ tj.aseq_vdomain }}
    <br>
    <div style="line-height:2px;"><br></div>

    Input TCR &beta; chain sequence :
    {{ tj.bseq_vdomain }}
    <br>
    <div style="line-height:2px;"><br></div>

    TCR &alpha; chain variable domain :
    {{ tj.aseq_vdomain }}
    <br>
    <div style="line-height:2px;"><br></div>

    TCR &beta; chain variable domain :
    {{ tj.bseq_vdomain }}
    <br>
    <div style="line-height:2px;"><br></div>

    TCR &alpha; chain framework sequence :
    {{ tj.aseq_fw }}
    <br>
    <div style="line-height:2px;"><br></div>

    TCR &beta; chain framework sequence :
    {{ tj.bseq_fw }}
    <br>
    <div style="line-height:2px;"><br></div>

    CDR1&alpha; : {{ tj.aseq_cdr1 }}
    <br>
    <div style="line-height:2px;"><br></div>

    CDR1&beta; : {{ tj.bseq_cdr1 }}
    <br>
    <div style="line-height:2px;"><br></div>

    CDR2hv4&alpha; : {{ tj.aseq_cdr2hv4 }}
    <br>
    <div style="line-height:2px;"><br></div>

    CDR2hv4&beta; : {{ tj.bseq_cdr2hv4 }}
    <br>
    <div style="line-height:2px;"><br></div>

    CDR3&alpha; : {{ tj.aseq_cdr3_extnd }}
    <br>
    <div style="line-height:2px;"><br></div>
    CDR3&beta; : {{ tj.bseq_cdr3_extnd }}
  </span>
  <br>
  <h3>TCR templates</h3>
  <span class="inptcr">
    CDR1&alpha; template pdb : {{ tj.acdr1_tmplt_pdb }}
    <br>
    CDR1&alpha; template seq : {{ tj.acdr1_tmplt_seq }}
    <br>
    <div style="line-height:2px;"><br></div>

    CDR2HV4&alpha; template pdb : {{ tj.acdr2hv4_tmplt_pdb }}
    <br>
    CDR2HV4&alpha; template seq : {{ tj.acdr2hv4_tmplt_seq }}
    <br>
    <div style="line-height:2px;"><br></div>
    
    CDR3&alpha; template pdb : {{ tj.acdr3_tmplt_pdb }}
    <br>
    CDR3&alpha; template seq : {{ tj.acdr3_tmplt_seq }}
    <br>
    <div style="line-height:2px;"><br></div>
    
    CDR1&beta; template pdb : {{ tj.bcdr1_tmplt_pdb }}
    <br>
    CDR1&beta; template seq : {{ tj.bcdr1_tmplt_seq }}
    <br>
    <div style="line-height:2px;"><br></div>
    
    CDR2HV4&beta; template pdb : {{ tj.bcdr2hv4_tmplt_pdb }}
    <br>
    CDR2HV4&beta; template seq : {{ tj.bcdr2hv4_tmplt_seq }}
    <br>
    <div style="line-height:2px;"><br></div>
    
    CDR3&beta; template pdb : {{ tj.bcdr3_tmplt_pdb }}
    <br>
    CDR3&beta; template seq : {{ tj.bcdr3_tmplt_seq }}
    <br>
    <div style="line-height:2px;"><br></div>

    Orientation template : {{ tj.ori_tmplt }}
  </span>
</div>
<br><br>

<script type="text/javascript" src="{{ url_for('static',filename='js/bio-pv.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tcr_viewer.js') }}"></script>
<script>
var modelfname = {{ modelfname|tojson }}
</script>

{% endblock %}
