{% extends "test_layout.html" %}
{% block title %}TCR Model{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aa_colors.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/aa_funcs.js') }}"></script>
<script src='https://cdn.rawgit.com/arose/ngl/v2.0.0-dev.32/dist/ngl.js'></script>
{% endblock %}
{% block article %}
<div class="p-3 m-3">
  <div class="row px-3">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-2 border bg-light">
          <p class="mt-2 mb-1">Display as:</p>
          <select class="form-select form-select-sm" id="reprsdd">
            <option selected="">cartoon</option>
            <option>spacefill</option>
            <option>licorice</option>
            <option>surface</option>
          </select>
          <p class="mt-4 mb-1">Color by:</p>
          <select class="form-select form-select-sm mt-0 mb-4" id="colorsdd">
            <option value="uniform">light grey</option>
            <option value="chainname" selected="">chain name</option>
            <option value="residueindex">residue index</option>
            <option value="sstruc">secondary structure</option>
            <option value="element">element</option>
            <option value="bfactor">bfactor</option>
          </select>
          <input type="checkbox" class="form-check-input" id="spin-checkbox">
          <label for="spin-checkbox" class="form-check-label">Spin</label>
        </div>
	<div class="col-5">
	  <div class="border border-success">
	    <span class="text-primary p-2 fs-6 lh-lg">TCRpMHC model viewer </span>
            <div class="float-end m-1">
	      <button type="button" class="btn btn-outline-primary btn-sm" id="centerbtn">Center</button>
	      <button type="button" class="btn btn-outline-primary btn-sm" id="alignbtn">Align</button>
            </div>
	    <div style="height: 275px;" class="w-100" id="nglviewport"></div>
	  </div>
	</div>
	<div class="col-3 py-3">
	  <p class = "text-start">
	    Job ID : <a href="{{ url_for('rtcrex', jobid=rtcrjobid) }}">{{ rtcrjobid }}</a>
	    <BR>
	    Status : Modeling completed
	  </p>
	  <h6><a href={{ modelfname }} download>Download PDB file</a></h6>
	  <h6><a href="{{ url_for('rtcr_viewmodel', jobid=rtcrjobid) }}">View model templates</a></h6>
	</div>
      </div>
    </div>
  
    <div class="row p-3 m-1 border-bottom">
      <div class="accordion accordion-flush" id="accordionFlushExample">
	<div class="accordion-item">
	  <h2 class="accordion-header" id="flush-headingOne">
	    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              TCRmodel templates
	    </button>
	  </h2>
	  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
	    <div class="accordion-body">
	      <table class="table table-striped table-light">
	    	<thead>
	      	  <tr>
		    <th>Name</th>
		    <th>Template PDB</th>
	      	  </tr>
	    	</thead>
	    	<tbody>
	      	  <tr>
		    <th scope="row">Tcr &alpha; CDR1</th>
		    <td>
                      {% if tj.acdr1_tmplt_pdb != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.acdr1_tmplt_pdbid }}">{{ tj.acdr1_tmplt_pdb }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &alpha; CDR2-HV4</th>
		    <td>
                      {% if tj.acdr2hv4_tmplt_pdb != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.acdr2hv4_tmplt_pdbid }}">{{ tj.acdr2hv4_tmplt_pdb }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &alpha; CDR3</th>
		    <td>
                      {% if tj.acdr3_tmplt_pdb != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.acdr3_tmplt_pdbid }}">{{ tj.acdr3_tmplt_pdb }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; CDR1</th>
		    <td>
                      {% if tj.bcdr1_tmplt_pdb != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.bcdr1_tmplt_pdbid }}">{{ tj.bcdr1_tmplt_pdb }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; CDR2-HV4</th>
		    <td>
                      {% if tj.bcdr2hv4_tmplt_pdb != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.bcdr2hv4_tmplt_pdbid }}">{{ tj.bcdr2hv4_tmplt_pdb }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; CDR3</th>
		    <td>
                      {% if tj.bcdr3_tmplt_pdb != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.bcdr3_tmplt_pdbid }}">{{ tj.bcdr3_tmplt_pdb }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr orientation</th>
		    <td>
                      {% if tj.ori_tmplt != "NA" %}
                        <a href="https://www.rcsb.org/structure/{{ tj.ori_tmplt }}">{{ tj.ori_tmplt }}</a>
                      {% else %}
                        NA 
                      {% endif %}
                    </td>
	      	  </tr>
	    	</tbody>      
	      </table>
	    </div>
      	  </div>
    	</div>
    	<div class="accordion-item">
      	  <h2 class="accordion-header" id="flush-headingTwo">
	    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Sequence alignment
	    </button>
      	  </h2>
      	  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
	    <div class="accordion-body">
	      <table class="table table-striped table-light table-sm">
	    	<thead>
	      	  <tr>
		    <th scope="col">Segments</th>
		    <th scope="col">Template</th>
		    <th scope="col">Alignment</th>
	      	  </tr>
	    	</thead>
	    	<tbody>
	      	  <tr>
		    <th scope="row">CDR1&alpha;</th>
		    <td>{{ tj.acdr1_tmplt_pdb }}</td>
		    <td>
		      <ul class="list-inline font-monospace">
		    	<li class="small list-inline-item">&nbsp;&nbsp;&nbsp;Input:</li>
		    	<li class="t1ali aaseqali list-inline-item">{{ tj.aseq_cdr1 }}</li>
		    	<BR>
		    	<li class="small list-inline-item">Template:</li>
		    	<li class="t2ali aaseqali list-inline-item">{{ tj.acdr1_tmplt_seq }}</li>
		    	<BR>
		    	<li class="small  list-inline-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		    	<li class="ali list-inline-item">
		      	  <span class="ast"></span>
		    	</li>
		      </ul>
		    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">CDR2&alpha;</th>
		    <td>{{ tj.acdr2hv4_tmplt_pdb }}</td>
		    <td>
		      <ul class="list-inline font-monospace">
		    	<li class="small list-inline-item">&nbsp;&nbsp;&nbsp;Input:</li>
		    	<li class="t1ali aaseqali list-inline-item">{{ tj.aseq_cdr2hv4 }}</li>
		    	<BR>
		    	<li class="small list-inline-item">Template:</li>
		    	<li class="t2ali aaseqali list-inline-item">{{ tj.acdr2hv4_tmplt_seq }}</li>
		    	<BR>
		    	<li class="small  list-inline-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		    	<li class="ali list-inline-item">
		      	  <span class="ast"></span>
		    	</li>
		      </ul>
		    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">CDR3&alpha;</th>
		    <td>{{ tj.acdr3_tmplt_pdb }}</td>
		    <td>
		      <ul class="list-inline font-monospace">
		    	<li class="small list-inline-item">&nbsp;&nbsp;&nbsp;Input:</li>
		    	<li class="t1ali aaseqali list-inline-item">{{ tj.aseq_cdr3_extnd }}</li>
		    	<BR>
		    	<li class="small list-inline-item">Template:</li>
		    	<li class="t2ali aaseqali list-inline-item">{{ tj.acdr3_tmplt_seq }}</li>
		    	<BR>
		    	<li class="small  list-inline-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		    	<li class="ali list-inline-item">
		      	  <span class="ast"></span>
		    	</li>
		      </ul>
		    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">CDR1&beta;</th>
		    <td>{{ tj.bcdr1_tmplt_pdb }}</td>
		    <td>
		      <ul class="list-inline font-monospace">
		    	<li class="small list-inline-item">&nbsp;&nbsp;&nbsp;Input:</li>
		    	<li class="t1ali aaseqali list-inline-item">{{ tj.bseq_cdr1 }}</li>
		    	<BR>
		    	<li class="small list-inline-item">Template:</li>
		    	<li class="t2ali aaseqali list-inline-item">{{ tj.bcdr1_tmplt_seq }}</li>
		    	<BR>
		    	<li class="small  list-inline-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		    	<li class="ali list-inline-item">
		      	  <span class="ast"></span>
		    	</li>
		      </ul>
		    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">CDR2&beta;</th>
		    <td>{{ tj.bcdr2hv4_tmplt_pdb }}</td>
		    <td>
		      <ul class="list-inline font-monospace">
		    	<li class="small list-inline-item">&nbsp;&nbsp;&nbsp;Input:</li>
		    	<li class="t1ali aaseqali list-inline-item">{{ tj.bseq_cdr2hv4 }}</li>
		    	<BR>
		    	<li class="small list-inline-item">Template:</li>
		    	<li class="t2ali aaseqali list-inline-item">{{ tj.bcdr2hv4_tmplt_seq }}</li>
		    	<BR>
		    	<li class="small  list-inline-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		    	<li class="ali list-inline-item">
		      	  <span class="ast"></span>
		    	</li>
		      </ul>
		    </td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">CDR3&beta;</th>
		    <td>{{ tj.bcdr3_tmplt_pdb }}</td>
		    <td>
		      <ul class="list-inline font-monospace">
		    	<li class="small list-inline-item">&nbsp;&nbsp;&nbsp;Input:</li>
		    	<li class="t1ali aaseqali list-inline-item">{{ tj.bseq_cdr3_extnd }}</li>
		    	<BR>
		    	<li class="small list-inline-item">Template:</li>
		    	<li class="t2ali aaseqali list-inline-item">{{ tj.bcdr3_tmplt_seq }}</li>
		    	<BR>
		    	<li class="small  list-inline-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
		    	<li class="ali list-inline-item">
		      	  <span class="ast"></span>
		    	</li>
		      </ul>
		    </td>
	      	  </tr>
	        </tbody>
	      </table>
	    </div>
      	  </div>
    	</div>
    	<div class="accordion-item">
      	  <h2 class="accordion-header" id="flush-headingThree">
	    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          TCR segments
	    </button>
      	  </h2>
      	  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
	    <div class="accordion-body table-responsive">
	      <table class="table table-striped table-light table-bordered text-nowrap">
	    	<thead>
	      	  <tr>
		    <th>Name</th>
		    <th>Sequence</th>
	      	  </tr>
	    	</thead>
	    	<tbody>
	      	  <tr>
		    <th scope="row">Tcr &alpha; V domain</th>
		    <td>{{ tj.aseq_vdomain }}</td>
	      	  </tr>
	     	  <tr>
		    <th scope="row">Tcr &alpha; CDR1</th>
		    <td>{{ tj.aseq_cdr1 }}</td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &alpha; CDR2-HV4</th>
		    <td>{{ tj.aseq_cdr2hv4 }}</td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &alpha; CDR3</th>
		    <td>{{ tj.aseq_cdr3_extnd }}</td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; V domain</th>
		    <td>{{ tj.bseq_vdomain }}</td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; CDR1</th>
		    <td>{{ tj.bseq_cdr1 }}</td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; CDR2-HV4</th>
		    <td>{{ tj.bseq_cdr2hv4 }}</td>
	      	  </tr>
	      	  <tr>
		    <th scope="row">Tcr &beta; CDR3</th>
		    <td>{{ tj.bseq_cdr3_extnd }}</td>
	      	  </tr>
	    	</tbody>      
	      </table>
	    </div>
      	  </div>
    	</div>
      </div>
    </div>
  </div>    
</div>

<script>
  var modelfname = {{ modelfname|tojson }}
</script>
<script src="{{ url_for('static', filename='/js/tcrcomplex2_viewer.js') }}"></script>
<script src="https://cdn.rawgit.com/arose/ngl/v2.0.0-dev.32/dist/ngl.js"></script>


{% endblock %}
